
/*
.color1 { #ffab07 };
.color2 { #e9d558 };
.color3 { #72ad75 };
.color4 { #0e8d94 };
.color5 { #434d53 };*/

*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.center {
			max-width: 1280px;
			padding: 0 2%;
			margin: 0 auto;
		}
		.w33{ width: 33%;}
		.w50{ width: 50%;}
		.left{ float: left;}
		.right{ float: right;}
		.clear{ clear: both;}

		header{
			background-color: #ffab07;
			padding: 20px 0 10px 0;
		}
		.mobile {
			display: none;
		}
		nav.desktop ul { list-style-type: none;}
		nav.desktop li{
			padding: 10px 40px;
			display: inline-block;
			text-transform: uppercase;
			font-size: 15px;
		}
		.logo img {width: 200px; padding: 0;}
		nav.desktop a{color: #434d53; text-decoration: none;}
		.banner-principal{padding: 100px 0;}
		form {text-align: center;}

		.ocultar {display: none;}


		footer{background-color: #ffab07; 
			position: absolute;
			width: 100%;
			bottom: 0;
			text-align: center;

			line-height: 50px;
		}