
/*
.color1 { #ffab07 };
.color2 { #e9d558 };
.color3 { #72ad75 };
.color4 { #0e8d94 };
.color5 { #434d53 };*/

*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.center {
			max-width: 1280px;
			padding: 0 2%;
			margin: 0 auto;
		}
		.w33{ width: 33%;}
		.w50{ width: 50%;}
		.left{ float: left;}
		.right{ float: right;}
		.clear{ clear: both;}

		header{
			background-color: #ffab07;
			padding: 20px 0 10px 0;
		}
		.mobile {
			display: none;
		}
		nav.desktop ul { list-style-type: none;}
		nav.desktop li{
			padding: 10px 40px;
			display: inline-block;
			text-transform: uppercase;
			font-size: 15px;
		}
		.logo img {width: 200px; padding: 0;}
		nav.desktop a{color: #434d53; text-decoration: none;}
		.banner-principal{padding: 100px 0;}
		form {text-align: center;}

		.ocultar {display: none;}
		section.banner-principal{
			width: 100%;
			height: 600px;
			background-image: url('../images/startup-594090_1920.jpg');
			background-size: cover;
			position: relative;
		}
		div.opacidade{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(51, 51, 51, 0.5);
		}

		section.banner-principal form{
			max-width: 500px;
			z-index: 2; /*Usado para trazer o elemento para cima na exibição*/
			position: absolute;
			left: 50%;
			top: 50%;
			transform:translate(-50%, -50%);
			-ms-transform:translate(-50%, -50%); /*Técnica usada para centralizar na tela de forma responsiva*/
		}
		section.banner-principal form h2{
			color: white;
			font-weight: 300;
			font-size: 35px;
		}
		section.banner-principal form input[type=email]{
			width: 100%;
			height: 66px;
			margin-top: 15px;
			background-color: white;
			color: white;
			font-size: 22px;
			padding-left: 15px;
			border-color: white;
			border-radius: 8px;
		}
		section.banner-principal form input[type=submit]{
			width: 100%;
			height: 66px;
			margin-top: 15px;
			background-color: #ffab07;
			color: white;
			font-size: 22px;
			padding-left: 15px;
			border-color: #ffab07;
			border-radius: 8px;
		}

		footer{background-color: #ffab07; 
			position: absolute;
			width: 100%;
			bottom: 0;
			text-align: center;
			line-height: 50px;
		}